@import "../../node_modules/materialize-css/sass/components/color-variables";
@import "../../node_modules/materialize-css/sass/components/color-classes";
@import "../../node_modules/materialize-css/sass/components/variables";
@import "../../node_modules/materialize-css/sass/components/normalize";

@import "../../node_modules/materialize-css/sass/materialize.scss";

.main {
    padding: 0 3rem;
    background-color:lightcoral;
    color: white;
    height: 60vh;
    width: 60vh; 
    margin: auto;
    margin-top: 10vh;
}




